# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
.env

# Logs
*.log

# Data/Artifacts (ajusta según necesidad)
*.pt
*.pth
*.pickle
*.pkl
*.npz
*.npy

# IDE
.vscode/
.idea/
